@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* Primary */
  --very-dark-blue: hsl(233, 47%, 7%); /* main background */
  --dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
  --soft-violet: hsl(277, 64%, 61%); /* accent */

  /* Neutral */
  --white: hsl(0, 0%, 100%); /* main heading, stats */
  --slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6); /* stat headings */
}

/*
  font-family: 'Inter', sans-serif;
  

*/

body {
  width: 100vw;
  height: 100vh;

  font-family: 'Inter', sans-serif;

  background: var(--very-dark-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 445px;
  width: 1110px;

  background: var(--dark-desaturated-blue);

  display: flex;

  border-radius: 10px;
}

.text-container {
  width: 570px;
}

.text-container h1,
h2 {
  color: var(--white);
  margin: 0;
}

.text-container h1 {
  padding-top: 75px;
  padding-bottom: 40px;
  padding-right: 120px;
  padding-left: 70px;

  line-height: 1.3;
}

.text-container h1 span {
  color: var(--soft-violet);
}

.text-container p,
small {
  color: var(--slightly-transparent-white-1);
}

.text-container p {
  margin: 0;

  padding-left: 70px;
  padding-right: 120px;
  padding-bottom: 80px;

  line-height: 1.5;
}

.text-container h2 {
  padding-bottom: 5px;
}

.text-container small {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
}

.text-container ul {
  list-style: none;
  margin: 0;

  display: flex;
  justify-content: space-between;

  padding-right: 135px;
  padding-left: 70px;

  max-width: 420px;
}

.text-container small {
  text-transform: uppercase;
}

.image-container {
  width: 540px;
}

.image-container img {
  width: 100%;
  height: 100%;

  border-radius: 0 10px 10px 0;

  filter: opacity(0.8) drop-shadow(0 0 0 var(--soft-violet)) saturate(450%);
}

.attribution {
  position: fixed;

  bottom: 0;

  font-size: 15px;
  text-align: center;

  font-family: 'Lexend Deca', sans-serif;
  color: var(--slightly-transparent-white-1);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Medias queries */

@media (max-width: 1110px) {
  body {
    flex-direction: column;
  }

  .main-container {
    height: 956px;
    width: 327px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    border-radius: 10px;
  }

  .image-container,
  .text-container {
    width: 327px;
  }

  .image-container img {
    border-radius: 0;

    border-radius: 10px 10px 0 0;
  }

  .text-container h1,
  .text-container p,
  .text-container ul {
    padding: 0;
  }

  .text-container {
    text-align: center;
  }

  .text-container h1 {
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 28px;
    line-height: 1.2;
  }

  .text-container p {
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-container ul {
    padding-top: 50px;

    flex-direction: column;
    
  }

  .text-container li {
    padding-bottom: 35px;
  }
}
